<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style >
        body{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <!-- <div class="bg-red-100 w-full h-[100px]">
        
        Joke :  <%= locals.joke || locals.error %>
    </div>
    <br>
   
    PunchLine : <%= locals.punchline %> -->
    <div class="flex items-center h-screen flex-col">
        <div class="mt-4">
            <h1 class="text-4xl text-[#cf12ac] underline italic">Tell Me A Joke</h1>
        </div>
        <div class="border-2 border-black max-w-7xl bg-red-400 mt-4 p-4 p-10 rounded-[20px]  ">
            <div class="flex p-2">
                <span class="font-semibold text-white  text-2xl flex flex-row ">Joke : </span>
                <h1 class="text-white text-2xl tracking-wide ml-2 flex">
                    <%= locals.joke || locals.error %>
                </h1>
            </div>
            <div class="flex p-2">

                <span class="font-semibold text-white  text-2xl">Punchline : </span>
                <h1 class="text-white text-2xl tracking-wide ml-2">
                    <%= locals.punchline %>
                </h1>
            </div>
            <div class="flex p-2">
                <button class="bg-blue-500 border border-black text-white  p-1 rounded-lg font-semibold" onClick="reloadJoke()">
                    Next Joke
                </button>
            </div>
        </div>
    </div>


</body>
<script >  
    function reloadJoke()
    {
        return window.location.reload();
    }
</script>
</html>